/* --------------------------------------------------------------------- Element Selectors */

/* --------------------------------- Text, Spacing, Format and Color */
html, body {
     height: 100%;
     line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

/* --------------------------------------------------------------------- Class Selectors */

/* ----------------------------------------- Full height image header */
.bgimg-1 {
     background-position: center;
     background-size: cover;
     background-image: url("IMG/altumcode-P2SkP_PXhlU-unsplash.jpg");
     min-height: 100%;
}

/* ----------------------------------------- Bars and Buttons */

/* --------------------- Descendant Selectors */
 .w3-bar .w3-button {
     padding: 16px;
}

/* --------------------------------- Text, Spacing, Format and Color */
.letterSpacing {
    letter-spacing: .5rem;
}

/* ---------------------------------------------------------------------- ID Selectors */

/* --------------------------------- Text, Spacing, Format and Color */
#greetings {
    color: lime; 
}

#txtLimeColor {
     color: lime;
}

/* The Modal (background) */
.modal, 
.modal2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    -webkit-animation-name: fadeIn;
    /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content,
.modal-content2 {
    color: lime;
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close,
.close2,
.close3 {
    color: lime;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus, 
.close2:hover,
.close2:focus, 
.close3:hover, 
.close3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header,
.modal-header2 {
    padding: 2px 16px;
    background-color: black;
    color: lime;
}

.modal-body,
.modal-body {
    padding: 2px 16px;
}

.modal-footer,
.modal-footer {
    padding: 2px 16px;
    background-color: black;
    color: lime;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}